@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\000031}}
body, html {
  font-family: "Lato","Open Sans",sans-serif;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000311}}
#topmenu {
  position: absolute;
  z-index: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000316}}
#topmenu > div {
  float: left;
  padding: 8px 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000317}}
  #topmenu > div a {
    color: #000;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000319}}
    #topmenu > div a:visited {
      color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000320}}
    #topmenu > div a:hover {
      color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000321}}
    #topmenu > div a:active {
      color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000327}}
  #topmenu > div.activeAnimation {
    background-color: rgba(0, 0, 0, 0.2); }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000333}}
.section {
  text-align: center;
  font-size: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000336}}
  .section .title {
    font-size: 3em;
    font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000340}}
  .section .items {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000342}}
    .section .items::hover {
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000346}}
    .section .items a:hover {
      text-decoration: none;
      font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000350}}
    .section .items a .contactItem {
      text-align: left;
      padding: 10px 0px;
      color: #333; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000354}}
      .section .items a .contactItem i {
        width: 45px;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000361}}
  .section .job {
    width: 60%;
    margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000365}}
    .section .job .companyLogo.BDO {
      height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000369}}
    .section .job .title {
      font-size: 1.5em;
      font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000373}}
    .section .job .bullet-points {
      font-size: 0.75em;
      font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000383}}
  .section#home .main {
    margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000385}}
    .section#home .main svg {
      height: 125px;
      width: 300px;
      overflow: visible; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\0000389}}
      .section#home .main svg text {
        font: 65px monospace;
        fill: #333; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003109}}
  .section#experience {
    background-color: #90CAF9; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003113}}
  .section#projects {
    background-color: #A5D6A7; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003122}}
#timeline {
  position: relative;
  padding: 2em 0;
  padding-left: 2em;
  margin: 2em 20.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003127}}
  #timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 70px;
    height: 100%;
    width: 4px;
    background: #d7e4ed; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003136}}
  #timeline .timeline-block {
    margin-bottom: 150px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003138}}
    #timeline .timeline-block .timeline-dot {
      width: 25px;
      height: 25px;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      background-color: white;
      position: absolute;
      left: 60px;
      margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003148}}
      #timeline .timeline-block .timeline-dot::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50px;
        border: 4px solid #444; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003159}}
    #timeline .timeline-block .date {
      position: absolute;
      top: 0;
      left: -100px;
      font-size: 0.7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003188}}
    #timeline .timeline-block .timeline-content {
      position: relative;
      background-color: #FFF;
      border-radius: 10px;
      margin-left: 50px;
      padding: 30px;
      box-shadow: 15px 15px 15px #888888; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003195}}
      #timeline .timeline-block .timeline-content .title {
        font-size: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003198}}
      #timeline .timeline-block .timeline-content .date {
        font-size: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003201}}
      #timeline .timeline-block .timeline-content::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid #FFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003218}}
#experience #oracle img {
  height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003223}}
#experience #IBM img {
  height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003228}}
#experience #BDO img {
  height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003233}}
#experience #TheRedPin img {
  height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003238}}
#experience .timeline-content .point {
  text-align: left;
  font-size: 16px;
  font-weight: 300; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003247}}
#projects .project {
  background-color: white;
  border-radius: 5px;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003253}}
  #projects .project .image {
    height: 400px;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003256}}
    #projects .project .image .name {
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      width: 100%;
      line-height: 70px;
      background-color: #444;
      opacity: 0.8; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003268}}
  #projects .project .description .point {
    text-align: left;
    font-size: 16px;
    font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003275}}
#projects #powerDots .image {
  background-image: url("images/12596408_10205940461771533_804017030_n2.jpg"); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003278}}
#projects #quotimotivate .image {
  background-image: url("images/quotimotivate.png");
  background-size: cover;
  background-position: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003283}}
#projects #histree .image {
  background-image: url("images/historyGraph.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003286}}
#projects #pandaSportswear .image {
  background-image: url("images/pandaSportswareWebsite.png");
  background-size: cover;
  background-position: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003291}}
#projects #fotag .image {
  background-image: url("images/FotagMobile.png");
  background-size: cover; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/Jason\/Current\/Current\/NotWorkProgramming\/personalWebsite\/sass\/style\.scss}line{font-family:\00003297}}
.clearBoth {
  clear: both; }

/*# sourceMappingURL=style.css.map */
