.fontSize1{
  font-size:700%;
}
.fontSize2{
  font-size:300%;
}
.fontSize3{
  font-size:200%;
}

body, html{
  font-family:"Lato","Open Sans",sans-serif;
  margin:0;
  padding: 0;
}

.majorSection{
  .title{
    font-size:300%;
    font-weight:700;
  }
  padding-top:80px;
}

$headerFontColor:#DDD;
$headerColor: rgba(100,100,100,0.85);
.header{
  background-color: $headerColor;
  height:70px;
  position:fixed;
  z-index:1;
  width:100%;
  color:$headerFontColor;
  .items{
    // position:absolute;
    vertical-align:middle;
    height:100%;
    width:95px;
    float:right;
    padding:0 10px;
    text-align:center;
      color:$headerFontColor;
    .icon{
      font-size:30px;
    }
    &.hover{
      background-color: rgba(150, 150, 150, 0.85);
    }
    .text{
      line-height:30px;
    }
  }
}

.content{
  text-align:center;
}

.pictureSection{
  height:700px;
  background-repeat:no-repeat;
  background-position:center center;
  // background-attachment:fixed;
  // background-size:contain;
  // background-size:cover;
  width:100%;
  color:000;
  &.pic1{
    // background-image:url("images/Mountains-Wallpaper-Good-E8O2.jpg");
    background-image:url("images/fjord-mountain-valley-river-tree-nature-1920x1080-wallpaper57568.jpg");
    background-position:center center;
    // background-size: 80px 60px;
  }
  .content{
    position:relative;
    top:25%;
  }
}

$projectWidth: 300px;

#projects{
  padding-left:40px;
  padding-right:40px;
  .project{
    // height:470px;
  // background-color:#AAF;


  // margin:20px 20px;
  // width: $projectWidth;
  // float:left;

  .squarePicture{
    // width: $projectWidth;
    // height: $projectWidth/2;
    &.project1{
      // background-image: url("images/12596408_10205940461771533_804017030_n.jpg");
      // background-position:-150px -334px;
    }
    &.project2{
      // background-image: url("images/pandaSportswareWebsiteScreenShot.png");
      // background-size:$projectWidth;
      // background-position-x:-150px;
      // background-position-y:-150px;
    }
  }
  .description{

  }
}
}

#Experience{
  .job{
    padding-right:20px;
    padding-left:20px;
    >div{
      background-color:#bbb;
      border-width:6px;
      border-color:#DDD;
      border-style:solid;
    }
    .jobTitle{
      font-size:200%;
      // height:72px;
    }
    .company{
      font-size:120%;
    }
    .date{
      font-size:70%;
      font-weight:500;
    }
    .project{
      font-weight:800;
    }
    .point{
    }
    ul{
      text-align:left;
    }
    li{
      padding-bottom:5px;
      padding-top:5px;
    }
  }  
}
#ContactMe{
  margin:auto;
  max-width:700px;
  padding-bottom:150px;
  .item{
    width:33%;
    float:left;
    padding:50px 2%;
    .content{
      i{
        font-size:350%;
        margin-top:40px;
      }
      color:#000; //This is to prevent color change from a tag. Without this it would be blue
      font-size:200%;
      background-color:#bbe;

      border-width:4px;
      border-color:#66a;
      border-style:solid;
    }
  }
}

#Footer{
  height:60px;
  width:100%;
  background-color:$headerColor;
}

.clearBoth{ clear:both; }